/* sm */
@media (max-width: 576px) {
}

/* md */
@media (max-width: 768px) {
  .nav-link {
    visibility: visible;
    padding-inline: 0.7rem !important;
  }
  nav .nav-item:not(:last-child) {
    margin-block: 0.5rem !important;
  }
  nav .nav-item:first-child {
    border-top: 0.2px solid #ff6900;
    padding-top: 0.8rem;
    margin-top: 0.8rem;
  }

  ul.nav-tabs {
    flex-wrap: wrap !important;
  }
  .sharing-links {
    position: relative;
  }
  .sharing-links-icon1 {
    position: absolute;
    top: -6rem;
    right: 2rem;
  }

  .sharing-links-icon2 {
    position: absolute;
    top: -6rem;
    right: -2rem;
  }
}
@media (min-width: 768px) {
  nav .nav-link {
    display: none;
  }
  .nav-item span {
    margin-inline: 0.625rem;
  }
}

/* @media (min-width: 992px) {
  .img-wrapper-bigger img {
    border-top-left-radius: 30px !important;
    border-bottom-left-radius: 30px !important;
  }

  .img-wrapper-bigger,
  .content-of-meals {
    max-height: 120vh;
  }
  .content-info {
    border-top-right-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
  }
} */

/* lg */
@media (max-width: 992px) {
  .main-section .row {
    height: auto !important;
    min-height: auto !important;
    overflow: visible !important;
  }

  .main-section .col-lg-5,
  .img-wrapper-bigger {
    height: 400px !important;
  }

  .content-of-meals,
  .content-of-meals .inner,
  #myTabContent {
    height: auto !important;
    max-height: none !important;
    overflow: visible !important;
  }

  .nav-item .image {
    width: 30px;
    height: 30px;
    border: 1px solid var(--bg-main-color-orange);
    border-radius: 50%;
    margin-right: 5px;
  }
  .img-wrapper-bigger img {
    border-radius: 1.8rem 1.8rem 0 0 !important;
  }
  .content-info {
    border-radius: 30px !important;
  }
}

/* xl */
@media (max-width: 1200px) {
}

/* xxl */
@media (max-width: 1400px) {
}
